# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

# Firebase
firebase-debug.log

# Local Dev Environment
src/environments/environment.development.ts

A good .gitignore file for your Terraform project helps prevent sensitive data and unnecessary files from being committed to your version control system. Here's a comprehensive list of what you should typically include:

Code-Snippet

# Terraform files
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/*.tfvars
terraform/*.tfvars.json
terraform/override.tf
terraform/override-*.tf
terraform/*.terraformrc
terraform/terraform.rc
