rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o/{object=**} {
    allow read: if request.auth != null && request.auth.token.email == "big-query-upload-user@big-query-test-uni.iam.gserviceaccount.com";
    allow write: if request.auth != null && request.auth.token.email == "storage-object-creator@big-query-test-uni.iam.gserviceaccount.com";
    allow delete: if request.auth != null
  }
}
